html,
body {
	font-family: system-ui;
	margin: 0;
	height: 100%;
}

main {
	display: flex;
	flex-flow: column;
	height: 100%;
}

h1 {
	background: #00a7da;
	color: #111111;
	flex: 0 1 auto;
	margin: 0;
	overflow: hidden;
	padding: 0.5rem 1rem;
	text-overflow: ellipsis;
	text-wrap: nowrap;
}

#editor {
	margin: 1rem;
	flex: 1 1 auto;
}

.cuescript-header-1 {
	font-size: 48px;
	font-weight: bold;
	color: #00a7da !important;
}

.cuescript-header-2 {
	font-size: 42px;
	font-weight: bold;
	color: #00a7da !important;
}

.cuescript-header-3 {
	font-size: 36px;
	font-weight: bold;
	color: #00a7da !important;
}

.cuescript-header-4 {
	font-size: 30px;
	font-weight: bold;
	color: #00a7da !important;
}

.cuescript-header-5 {
	font-size: 24px;
	font-weight: bold;
	color: #00a7da !important;
}

.cuescript-header-6 {
	font-size: 18px;
	font-weight: bold;
	color: #00a7da !important;
}
